<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Payviya App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>payviya_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>payviya</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.payviya.payviya</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>payviya</string>
	</array>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:payviya.com</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to local network to enable debugging features</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Size yakın kampanyaları bulabilmek için konumunuza ihtiyacımız var</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Size yakın kampanyaları bulabilmek için konumunuza ihtiyacımız var</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Size yakın kampanyaları bulabilmek için konumunuza ihtiyacımız var</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Size kampanya bildirimlerini gönderebilmek için bildirim iznine ihtiyacımız var</string>
	<key>NSRemoteNotificationUsageDescription</key>
	<string>Size kampanya bildirimlerini gönderebilmek için bildirim iznine ihtiyacımız var</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
